@import '../App.scss';
@mixin flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    @include flex;
    margin-top: 7%;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
form {
    @include flex1;
    width: 80%;
    .select {
        width: 20%;
    }
    div {
        @include flex1;
        width: 100%;
        height: 36px;
        position: relative;
        overflow: hidden;
        input {
            width: 100%;
            height: 30px;
            outline: none;
            font-size: 27px;
        }
        button {
            height: 35.5px;
            width: 35.5px;
            font-size: 30px;
            background: $base-color-3;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
        }
        select {
            left: 0;
            width: 100%;
            height: 36px;
            position: absolute;
            outline: none;
            cursor: pointer;
            color: $base-color-2;
            option {
                cursor: pointer;
            }
     
        }
    }
}
#div1 {
    @include flex1;
    width: 100%;
    margin-top: 5%;
    ul {
        @include flex1;
        width: 100%;
        flex-direction: column;
        list-style: none;
        div {
            @include flex1;
            height: 36px;
            width: 80%;
            flex-direction: row;
            padding: 5px;
            button {
                height: 35.5px;
                width: 35.5px;
                font-size: 27px;
                background: $base-color-3;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
            }
            .trashBtn{
                background: rgb(255, 46, 46);
            }
            li {
                background: white;
                height: 36px;
                min-width: 30%;
                font-size: 27px;
                text-align: center;
                padding-left: 10px ;
            }

        }
    }
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(87, 87, 87);
}
.select::after {
    content: "\25BC";
    position: absolute;
    width: 35.5px;
    height: 35.5px;
    text-align: center;
    padding-top: 9px ;
    top: 0;
    right: 0;
    background: $base-color-3;
    cursor: pointer;
    pointer-events: none;
  }
  @media only screen and (max-width: 900px) {
    form {
        flex-direction: column;
        div {
            margin-top: 4%;
        }
        .select {
            width: 50%;
        }
        select {
            width: 100%;
        }
        #div1 ul div {
            width: 100%;
            overflow: hidden;
        }
        #div1 ul div button {
            font-size: 25px;
        }
        li {
            padding-top: 10px;
            overflow: hidden;
        }
        form div input {
            width: 100% !important;
        }
    }
  }